.starBtn {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;

  font-size: 22px;
  line-height: 1;
  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
}

.starBtn:hover {
  transform: scale(1.1);
}
.starBtn {
  color: #f5c518; /* 노란 별 */
}