@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600;700&display=swap');/*제목용 폰트*/
/*
정보 정리

메인 컬러 :#66f109;
 폰트 :Fredoka
*/

body {/*기본 구조: 멜론 차트 코드(f12)에서 따옴+필요없는코드후에삭제*/
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "맑은 고딕", "Malgun Gothic", "돋움", "Apple Gothic", helvetica  helvetica,  'Segoe UI', 'Noto Music', sans-serif;
    letter-spacing: 0;
    font-size: 12px;
    color: #666;
    line-height: 18px;
    background: #fff;
    -webkit-text-size-adjust: none;
}
.logo{/*music 글자 적용되는 스타일*/
    color: #66f109;
    font-size: 40px; 
    font-weight: 550;
    margin-top: 30px; 
    margin-bottom: 10px;
     margin-left: 10px;
     display: flex;
font-family: 'Fredoka', sans-serif;}
.top{/*탑 문구에 적용되는 스타일*/
        color: #274d11;
        margin-top: 30px;
    margin-left: 15px;
}

.listStyle {/*전체 테마*/
    display: white;
    list-style: none;
    padding: 0;
    margin: 0;

}.chartBox{/*노래 한 곡 넣는 박스*/
 display: flex;   
 align-items: center;
 padding: 10px;
 border-bottom: 2px solid #cdffc5;
}
.chartBox:hover {/*박스 마우스 호버*/
   
    background-color: #dbffe1;

}
.chartBox:hover .title{/*제목 호버*/
    
    color: #66f109;
}
.chartBox:hover .artist{
    
    color: #66f109;

}
.chartBox:hover .rank {
       
    color: #66f109;
}
.chartBox:hover .albumCover{
    transform: scale(1.1);
}
.albumCover {/*엘범 이미지 적용 코드*/
    width: 60px;
    height: 60px;
    border-radius: 4px;
    margin-right: 20px;
    object-fit: cover;
}

.rank{/*랭킹*/
font-size: 18px;
    font-weight: bold;
    color: #333;
    width: 40px;
    text-align: center;
    margin-right: 15px;


}/*노래정보*/
.songInfo{
display: flex;
    flex-direction:column; /*세로*/
    justify-content:center;
    overflow: hidden;

}.title{/*곡 제목*/
font-size: 14px;
    color: #152909;
    margin-bottom: 4px;
    font-weight: bold;     
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


}.artist{/*가수 정보*/
font-size: 12px;
color: #b5cfb4;

}
.pageButton{/*페이지 넘기는 버튼 e디자인*/
    margin-top: 30px;

    background-color: white;
    border: 1px solid #bfffb0;
    padding: 8px 12px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    color: #92b67b;
}
.buttonLoc {/*페이지넘기기버튼 위치*/
    text-align: center;
    margin-top: 30px;
 margin-bottom: 50px;
}
.reloding{/*로고에 버튼 적용+새로고침*/
text-align: center;
border: none;
outline: none;
background: none;
cursor: pointer;
}
.loginLoc {/*로그인 버튼위치*/
    position: absolute; 
    top: 40px;        
    right: 20px;     
    z-index: 999; 
}
.loginButton{/*로그인 버튼 스타일*/
    
    background-color: #fff;    
    border: 1px solid #6af80c; 
    border-radius: 10px;  
    color: #274d11;  
    padding: 8px 15px; 
    font-size: 13px;
    cursor: pointer; 
    font-family: 'Fredoka',sans-serif; 
}
/*메뉴 바 구현하기*/

.headerBox {/*헤더 박스(메뉴버튼+로고)*/
    display: flex;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}
.menuButtton {/*메뉴버튼*/
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #66f109; 
    margin-right: 15px;
    margin-top: 20px; 
}
.sidebar {/*사이드바*/
    position: fixed;
    top: 0;
    left: -280px; /*평소에는숨어있음*/
    width: 280px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 4px 0 10px rgba(0,0,0,0.1);
    transition: left 0.3s ease-in-out;
    z-index: 2000;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.sidebar.open {/*사이드바오픈된상태*/
    left: 0;
}
.closeButton{/*사이드바닫기*/
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #333;
    margin-bottom: 30px;
}


.shdow {/*사이드바열었을때, 전체 화면 어둡게 하기 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1500;
    display: none;
}
.shdow.show {/*사이드바 열었을 때 디스플레이 블랙*/
    display: block;
}

.sideMenu {/*t사이드바안에메뉴*/
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.sideMenu li {/*사이드바 안에 목록*/
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.sidebar-menu li:hover {/*사이드바 목록 호버 적용*/
    color: #66f109;
}
.sidebar-login-area {
    margin-bottom: 30px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #66f109;
}